@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  font-style: normal;
  src:
    url("../fonts/montserrat-extrabold.woff2") format("woff2"),
    url("../fonts/montserrat-extrabold.woff") format("woff"),
    url("../fonts/montserrat-extrabold.eot") format("eot");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  src:
    url("../fonts/montserrat-semibold.woff2") format("woff2"),
    url("../fonts/montserrat-semibold.woff") format("woff"),
    url("../fonts/montserrat-semibold.eot") format("eot");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  src:
    url("../fonts/montserrat-medium.woff2") format("woff2"),
    url("../fonts/montserrat-medium.woff") format("woff"),
    url("../fonts/montserrat-medium.eot") format("eot");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  src:
    url("../fonts/montserrat-regular.woff2") format("woff2"),
    url("../fonts/montserrat-regular.woff") format("woff"),
    url("../fonts/montserrat-regular.eot") format("eot");
  font-display: swap;
}